:root{
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shawdow: 0 1px 5px rgba(104, 104, 104, 0.8 );
}

html{
box-sizing: border-box;
font-family: Arial, sans-serif;
color: var(--dark);
}

body{
  background: #D3D3D3;
  margin: 30px 50px;
  line-height: 1.4;
}
.btn{
  background-color: var(--dark);
  color: var(--light);
  padding: .3rem .3rem;
  text-decoration: none;
  border: 0;
}
img{
  max-width: 100%;
  margin: 1rem;
}
.wrapper{
  display: grid;
  grid-gap: 20px;
}

.main-nav ul {
  display: grid;
  grid-gap: 20px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
}

.main-nav a{
  text-decoration: none;
  background: var(--light);
  color: var(--dark);
  display: block;
  padding: 0.1rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.1rem;
  box-shadow: var(--shawdow);
}
.main-nav a:hover{
  background-color: var(--dark);
  color: var(--light);
}
.top-container{
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
      'showcase showcase top-box-a'
      'showcase showcase top-box-b';
}
.showcase p{
  text-align: justify;
}
.showcase{
  grid-area: showcase;
  background: url(cr.v1.jpg);
}
.top-box-a:{
  grid-area: top-box-a;
}
.top-box-b:{
  grid-area: top-box-b;
}
.showcase h1{
  font-size: 4rem;
  color: var(--dark);
  padding: 1rem
}
.showcase p{
  font-size: 2rem;
  color: var(--dark);
  padding: 1rem;
}
.boxes{
  display: grid;
  grid-gap: 20px;
  grid-template-columns:repeat(4,2fr) ;
}
footer{
  background: var(--primary);
  color: var(--light);
  margin-top: 3rem;
  text-align: center;
  padding: 0.5rem;
}
